* {
    font-family: Arial, Helvetica, sans-serif;
    color: #332211;
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    background: #fefefecb;
}

button {
    display: inline-block;
    background: rgb(192, 189, 189);
    color: #333;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0.5em 0;
}

button:hover {
    background: rgb(221, 236, 236);
    color: purple;
}

.grid {
    float: right;
}

#playlist-name {
    margin: 1.5em 5em;
    padding: 0.5em;
    width: 84.5%;
    height: 3em;
    background: rgb(226, 208, 224);
    align-content: center;
    border: purple;
}

#musicians {
    margin-left: 5em;
    margin-right: 1.5em;
    padding: 0.5em;
    border: 1px solid rgb(158, 156, 156);
    float: left;
    height: 20em;
    width: 11em;
    background: rgb(245, 240, 240);
}

#sort {
    margin-top: 20.5%;
}

.musicianID {
    width: 5em;
    padding: 1em 2em;
}

#deleteMusician {
    margin-left: 40em;
    margin-right: 1em;
}

#add {
    margin-right: 8em;
}

#edit {
    margin-right: 8em;
}

#delete {
    margin-right: 8em;
}

.enter-musician {
    padding: 1em 2em;
    margin-right: 2em;
}

#addMusician {
    width: 45em;
}

#edit-delete {
    width: 33.3em;
}